td {
    font-family: 'Roboto';
    letter-spacing: 0.25px;
}

.cw-section-main {
    border: 1px solid gray;
    border-radius: 3px;
    width: 75%;
}

.btn-save {
    height: 50px;
    margin-top: 10px;
}